:root {
  --geo: #C6A972; /*#C6A972  #FFC354*/
  --dark-geo: #BF8F6F;
  --anemo: #148EA7;
  --dark-anemo: #153D51;
  --card-background: #EFECE5;
  --light-red: #E54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Nunito", "Times New Roman", monospace;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
}

.container {
  width: min(90vw, 800px);
  margin: 0 auto auto;
}

a {
  text-decoration: none
}

ul {
  list-style: none;
}

.close {
  display: none;
}

/* color ==============================*/
.filter-white{
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(98deg) brightness(107%) contrast(100%);
}

.color-white {
  color: #FFF;
}

/* Titles ==============================*/
h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', monospace;
}
h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

/* button ==============================*/
.back {
  background: var(--light-red) url('./assets/fechar.svg') no-repeat center center;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 4px 4px 0 rgba(0,0,0, .3);
  cursor: pointer;
  z-index: 1000;
  animation: fadeInDown .7s forwards;
}

/* ScrollBar ==============================*/
.xiao.character-guide::-webkit-scrollbar,
.zhongli.character-guide::-webkit-scrollbar {
  width: 2px;
}

.xiao.character-guide::-webkit-scrollbar-thumb {
  background: var(--dark-anemo);
  border-left: 4px 0 var(--card-background);
  border-right: 4px 0 var(--card-background);
  border-radius: 4px;
}

.zhongli.character-guide::-webkit-scrollbar-thumb {
  background: var(--dark-geo);
  border-left: 4px 0 var(--card-background);
  border-right: 4px 0 var(--card-background);
  border-radius: 4px;
}


/* Header ==============================*/
header {
  background: linear-gradient(var(--anemo), #F0F0F0);
  text-align: center;
  padding: 2rem 0 5rem;
}

header img {
  max-width: 300px;
  width: auto;
  height: auto;
}

header h1 {
  color: #0C0A07;
  margin-top: 15px;
  font-weight: bold;
}

/* Footer ==============================*/
footer {
  width: 100%;
  background: #303036;
  color: white;
  text-align: center;
  margin-top: 1.2rem;
  padding: 0 1rem;
}

/* Main ==============================*/

.guides {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin-top: -40px;
  /* padding: 19rem 10rem; */
  min-width: 350px;
  height: 650px;
  background: var(--card-background);
  /* overflow: auto; */
}

.card.character-guide {
  width: 500px;
  margin-left: 30px;
}

.character-description,
.geo-element,
.talent-description,
.qualities {
  width: 95%;
  margin: 0 auto;
  padding: 1rem 1rem ;
  text-align: left;
}

/* Zhongli ==============================*/
.zhongli {
  border: 1px solid var(--dark-geo);
  box-shadow: 1px 1px 5px var(--dark-geo),
              inset 0 0 0 2px var(--card-background),
              inset 0 0 0 3px var(--dark-geo);
  border-radius: 4px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.zhongli h2, .zhongli h3, .zhongli h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--dark-geo);
  padding-top: 1rem;
}

.zhongli .character {
  background: url('./assets/zhongli-wish.png') no-repeat center;
  background-size: cover;
  background-position-y: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* .zhongli::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border: 1px solid var(--dark-geo);
  border-radius: 4px;
} */

.zhongli:hover,
.zhongli.active {
  animation: zhongli-zoom .7s forwards;
}

/* Xiao ==============================*/
.xiao {
  width: 350px;
  border: 1px solid var(--dark-anemo);
  border-radius: 4px;
  box-shadow: 1px 1px 5px var(--dark-anemo),
              inset 0 0 0 2px var(--card-background),
              inset 0 0 0 3px var(--dark-anemo);
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.xiao h2, .xiao h3, .xiao h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--dark-anemo);
  padding-top: 1rem;
}

.xiao .character {
  background: url('./assets/xiao-wish.png') no-repeat center;
  background-size: cover;
  background-position-y: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* .border::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border: 1px solid var(--dark-anemo);
  border-radius: 4px;
} */

.xiao:hover,
.xiao.active {
  animation: xiao-zoom .7s forwards;
}

/* Xiao and Zhongli ==============================*/
.zhongli:hover .character,
.xiao:hover .character,
.zhongli.active .character,
.xiao.active .character {
  transform: scale(1.1);
  transition: .7s;
}

/* Character-Guide ==============================*/
.character-guide {
  overflow-y: auto;
}

.character-guide.active {
  animation: fadeInDown .7s forwards;
}

/* .character-guide .talents {
  margin-top: 1rem;
} */

.character-guide .close-guide {
  display: none;
  text-align: center;
  color: var(--light-red);
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: .75rem;
  animation: fadeInDown .7s forwards;
}

.character-guide .close-guide span::after, 
.character-guide .close-guide span::before {
  content: "";
  display: inline-block;
  border-top: 1px solid var(--light-red);;
  width: 30%;
  margin: 0 1rem;
  transform: translateY(-.2rem);
}

.character-guide .talents h2 {
  padding-top: 0;
}

.character-guide .talents div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.xiao .talents img {
  border: 1px solid var(--anemo);
  border-radius: 50%;
  box-shadow: 0 0 4px var(--anemo);
  background: var(--anemo);
  cursor: pointer;
}


.xiao .talents img:hover {
  background: var(--dark-anemo);
  transition: .5s;
}

.xiao .talents img.active {
  background: var(--dark-anemo);
}

.talent-description div {
  display: none;
}

.talent-description div.active {
  display: block;
  margin-top: -1rem;
  animation: fadeInDown .7s forwards;
}

.talent-description p {
  background: #BEC5C6;
  opacity: .9;
  border-radius: 4px;
  margin-top: .4rem;
  padding: .4rem;
}

.character-guide img {
  width: 5rem;
  height: 5rem;
}

.qualities {
  padding-top: 0;
}

.qualities h2 {
  padding-top: 0;
  font-size: 1.5rem;
}

.qualities .qualities-selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.xiao .qualities .qualities-selector h2:hover{
  background: var(--dark-anemo);
  transition: .5s;
  cursor: pointer;
}

.xiao .qualities .qualities-selector h2 {
  padding: 10px 4px;
  border-radius: 4px;
  margin: 1px;
  color: #FFF;
  background: var(--anemo);
}

.xiao .qualities .qualities-selector h2.active {
  background: var(--dark-anemo);
}

.qualities .qualities-description div {
  display: none;
}

.qualities .qualities-description div.active {
  display: block;
  animation: fadeInLeft .7s forwards;
}

.qualities .advantages,
.qualities .disadvantages {
  margin-top: 10px;
}

.qualities .advantages ul li::before,
.qualities .disadvantages ul li::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.xiao .qualities .advantages ul li::before {
  content: "";
  background: var(--anemo);
}

.qualities .disadvantages ul li::before {
  content: "";
  background: var(--light-red);
}

.build div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.build [data-tab="builds-menu"] h2 {
  font-size: 1.5rem;
}

.build [data-tab="builds-menu"] {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.xiao .build [data-tab="builds-menu"] h2:hover{
  background: var(--dark-anemo);
  transition: .5s;
  cursor: pointer;
}

.xiao .build [data-tab="builds-menu"] h2 {
  padding: 10px 4px;
  border-radius: 4px;
  margin: 1px;
  color: #FFF;
  background: var(--anemo);
}

.xiao .build [data-tab="builds-menu"] h2.active {
  background: var(--dark-anemo);
}

.build [data-tab="builds-menu"] div {
  display: none;
}

.build-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 4px;
  margin: 1rem auto 1rem auto;
  background: #BEC5C6;
  padding: 0 1rem 1rem 1rem;
}

.build-description > div {
  display: none;
}

.build-description > div.active {
  display: block;
  animation: fadeInDown .7s forwards;
}

.build-description .artifacts {
  text-align: center;
  margin-top: 1rem;
}

.build-description .weapons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.build-description .weapons div {
  position: relative;
  margin-right: 2px;
}

.build-description img{
  background: var(--card-background);
  box-shadow: 1px 1px 5px var(--dark-anemo),
              inset 0 0 0 2px var(--card-background),
              inset 0 0 0 3px var(--dark-anemo);
  border-radius: 4px;
}

.build-description .weapons img {
  display: block;
  margin: 0 auto;
}
.build-description .weapons .anemo-star {
  content: "";
  position: absolute;
  background: url('./assets/anemo-star.svg') no-repeat center;
  background-size: 15px;
  top: 3px;
  left: 13px;
  width: 15px;
  height: 15px;
  z-index: 100;
}

.build-description .weapons p {
  background: var(--dark-anemo);
  color: white;
  opacity: .7;
  margin-top: -20px;
  padding: 0 1px;
  max-width: 100px;
}

.build-description p {
  border-radius: 4px;
  text-align: center;
}

.build-description p.description {
  padding: 11px;
  border: 1px solid var(--card-background);
  text-align: left;
}

/*ZHONGLI!!!*/
.zhongli .talents img {
  border: 1px solid var(--geo);
  border-radius: 50%;
  box-shadow: 0 0 4px var(--geo);
  background: var(--geo);
  cursor: pointer;
}


.zhongli .talents img:hover {
  background: var(--dark-geo);
  transition: .5s;
}

.zhongli .talents img.active {
  background: var(--dark-geo);
}

.zhongli .qualities .qualities-selector h2:hover{
  background: var(--dark-geo);
  transition: .5s;
  cursor: pointer;
}

.zhongli .qualities .qualities-selector h2 {
  padding: 10px 4px;
  border-radius: 4px;
  margin: 1px;
  color: #FFF;
  background: var(--geo);
}

.zhongli .qualities .qualities-selector h2.active {
  background: var(--dark-geo);
}

.zhongli .qualities .advantages ul li::before {
  content: "";
  background: var(--dark-geo);
}

.zhongli .build [data-tab="builds-menu"] h2:hover{
  background: var(--dark-geo);
  transition: .5s;
  cursor: pointer;
}

.zhongli .build [data-tab="builds-menu"] h2 {
  padding: 10px 4px;
  border-radius: 4px;
  margin: 1px;
  color: #FFF;
  background: var(--geo);
}

.zhongli .build [data-tab="builds-menu"] h2.active {
  background: var(--dark-geo);
}

.build-description .weapons .geo-star {
  content: "";
  position: absolute;
  background: url('./assets/geo-star.svg') no-repeat center;
  background-size: 15px;
  top: 3px;
  left: 13px;
  width: 15px;
  height: 15px;
  z-index: 100;
}

.geo-element {
  padding-top: 0;
  margin-bottom: .5rem;
}
.geo-element h2::before {
  content: "";
  background: url('./assets/geo-icon.png') no-repeat center center;
  background-size: 100px 100px;
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -30px;
  z-index: -1;
}

/* Animations ==============================*/
[data-animation="fadeOutIn"] {
  animation: fadeOutIn .6s forwards;
}

[data-animation="fadeOut"] {
  animation: fadeOut .6s forwards;
}

@keyframes zhongli-zoom {
  from {
    box-shadow: 1px 1px 5px var(--dark-geo),
                inset 0 0 0 2px var(--card-background),
                inset 0 0 0 3px var(--dark-geo);
  }
  to {
    box-shadow: 13px 13px 5px var(--dark-geo),
                inset 0 0 0 2px var(--card-background),
                inset 0 0 0 3px var(--dark-geo);
  }
}

@keyframes xiao-zoom {
  from {
    box-shadow: 1px 1px 5px var(--dark-anemo),
                inset 0 0 0 2px var(--card-background),
                inset 0 0 0 3px var(--dark-anemo);
  }
  to {
    box-shadow: 13px 13px 5px var(--dark-anemo),
                inset 0 0 0 2px var(--card-background),
                inset 0 0 0 3px var(--dark-anemo);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes close {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes left-transition {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-30vw, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Mobile =================================*/
@media (hover: none) {
  .zhongli:hover,
  .xiao:hover {
    animation: none;
  }
  .zhongli:hover .character,
  .xiao:hover .character {
    transform: none;
  }
  
  .zhongli.active.character-card {
    animation: zhongli-zoom .7s forwards;
  }
  .xiao.active.character-card{
    animation: xiao-zoom .7s forwards;
  }

  .zhongli.active .character,
  .xiao.active .character {
    transform: scale(1.1);
    transition: .7s;
  }
}

@media (max-width: 800px) {
  .back {
    display: none;
  }

  .character-guide .close-guide {
    display: block;
  }

  .xiao.character-card h2 {
    display: none;
  }
  
  .xiao .character {
    background: url('./assets/xiao-wish-face.png') no-repeat center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .zhongli.character-card h2 {
    display: none;
  }
  
  .zhongli .character {
    background: url('./assets/zhongli-wish-face.png') no-repeat center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .guides {
    display: flex;
    flex-wrap: wrap;
    margin-top: -2rem;
  }
  
  .card {
    min-width: 100%;
    height: 100px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .card.character-guide {
    margin-left: 0;
    height: 100%;
  }

  .qualities .qualities-selector h2 {
    font-size: 1.4rem;
    padding: 8px;
  }
}

@media (max-width: 330px) {
  body {
    font-size: .875rem;
  }
  header {
    padding: 2rem 0 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .qualities .qualities-selector h2 {
    padding: .5rem .5rem;
    font-size: 1.2rem;
  }
  .character-guide .close-guide span::after, 
  .character-guide .close-guide span::before {
    content: "";
    width: 27%;
  }
  .character-guide img {
    width: 4rem;
    height: 4rem;
  }
}
